{% extends 'auctions/layout.html' %}

{% block body %}
    <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        <div class="input-block">
            <label for="title" class="form-label">Title: </label>
            <input type="text" id="title" name="title" class="form-control" required>
        </div>
        <div class="input-block">
            <label for="description" class="form-label">Description: </label>
            <textarea id="description" class="form-control" name='description' rows="4" maxlength="200" required></textarea>
            <div class="form-text">Max-character 200</div>
        </div>
        <div class="input-block">
            <label for="img-url" class="form-label">Image Url: </label>
            <input type="text" class="form-control" name="img_url" id="img-url">
        </div>
        <div class="input-block">
            <label for="price" class="form-label">Price: </label>
            <input type="number" class="form-control" min="1" step=".01" required name="price" id="price">
        </div>
        <div class="input-block">
            <select class="form-control" name="category">
                <option selected value="">Category</option>
                {% for category in categories %}
                    <option value="{{ category }}">{{category.capitalize}}</option>
                {% endfor %}
            </select>
        </div>
        <input type="submit" value="Create Listing" class="btn btn-primary">

    </form>
{% endblock %}